*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    width: 100vw;
    display: flex;
   justify-content: center;
flex-direction: column;
    gap: 15px;
    height: 100vh;
    background-color: black;
}


.box{

    width: 300px;
    height: 200px;

}



#box1{


    background-color: yellow;
}

#box2{


    background-color: green;
}

#box3{

 
    background-color: red;
}