
*{
  margin: 0;
  padding: 0;
}

header{
  width: 100vw;
  position: absolute;
  top: 0;
  height: 7vh;
  color: white;

  background-color: black;
}

footer{
  color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  background-color: blueviolet;
}


#hero{
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
}