<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Send mail</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div id="content" class="m2">
                    
                    <header id="header" class=" pink darken-1">
                        Send new Email
                    </header>

                    <form id="send-mail" action="/user/sendMail" method="post" class="col s10 offset-s1">
                        <div class="row">
                                <div class="input-field col s12">
                                    <label for="email">For:</label>
                                    <input id="email" type="email" name="email">
                                </div>
                                <div class="input-field col s12">
                                    <label for="subject">Subject:</label>
                                    <input id="subject" type="text" name="subject">
                                </div>
                        </div>

                        <div class="row">
                                <div class="input-field col s12">
                                    <label for="message">Message: </label>
                                    <textarea id="message" class="materialize-textarea"  name="message"></textarea>
                                </div>
                        </div>
                            
                        <div class="row" id="loaders">
                                <img id="spinner" src="https://www.dropbox.com/s/wfsji06m6jfe0yl/spinner.gif?raw=1" width="150">
                        </div>
                            
                        <div class="row">
                                <div class="col s6">
                                    <button id="send" class="btn waves-effect waves-light  pink darken-2" type="submit" name="action">Send
                                            <i class="material-icons right">send</i>
                                    </button>
                                </div>
                                <div class="col s6">
                                    <button id="resetBtn" class="btn waves-effect waves-light light-blue darken-2" type="reset">Reset
                                            <i class="material-icons right">delete</i>
                                    </button>
                                </div>
                        </div>
                    </form> 
                    
                </div> <!--.contenido-->
            </div>
        </div>
    </div>


    <style>

body {
    background: #F1F2B5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#content {
    background-color: white;
    margin-top: 40px;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
#content::after {
    clear: both;
    display: block;
    content: '';
}
header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}
form {
    margin: 30px 0;
}
#loaders {
    text-align: center;
}
#loaders img {
    width: 150px;
    margin: 0 auto;
    /* display: none; */
}
#resetBtn {
    float: right;
}

#spinner {
    display: none;
}
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
  </body>
</html>
      